<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>COVID19 Portugal</title>
</head>
<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e7bdfa;">
        <a class="navbar-brand" style="margin-left:1%; cursor: default; font-weight: bold" href="#">COVID19</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a style="color:black;" class="nav-link" href="#">Home</a>
                </li>
            </ul>
        </div>
    </nav>
    <div style="margin-left: 1.5em">
        <form th:action="@{/location}" method="get" class="form-inline" style="margin-top:2%">
                <h6><b>PROCURA PELA INFORMAÇÃO MAIS RECENTE DE UM DADO CONCELHO:</b></h6>
                <input  th:name="location" id="concelhoInput" class="form-control form-control-sm" style="width: 10%;margin-left:1%;margin-right:0.2%;" type="text" placeholder="CONCELHO">
                <button type="submit" class="btn btn-light btn-sm" style="background-color: #e7bdfa">SEARCH</button>
        </form>
    </div>
    <hr style="border: 0;height: 1px;background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">
    <div th:if="${data == true}" style="margin-left: 1.5em">
        <div class="row">
            <div class="col-md-4 ">
                <h6 th:text="'Resultados para ' + ${location.concelho} + ', ' + ${location.ars}"></h6>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <h6 th:text="'Último update: ' + ${location.data}"></h6>
            </div>
        </div>
        <div class="row" style="margin:0">
            <p th:text="'Incidência: ' + ${location.incidencia_risco} + ', ' + ${location.incidencia} + ' em ' + ${location.incidencia_categoria}"></p>
        </div>
        <div style="margin:0; line-height: 60%;">
            <p th:text="'Confirmados: '"></p>
            <p style="margin-left:1em" th:text="'- Há 1 dia: ' + ${location.confirmados_1}"></p>
            <p style="margin-left:1em" th:text="'- Há 14 dias: ' + ${location.confirmados_14}"></p>
        </div>
        <div style="margin:0;">
            <p th:text="'Casos_14dias: '+ ${location.casos_14dias}"></p>
        </div>
        <div style="margin:0;">
            <p th:text="'População Total: '+ ${location.populacao_total}"></p>
        </div>
        <div style="margin:0;">
            <p th:text="'População 65+: '+ ${location.populacao_65_mais}"></p>
        </div>
        <div style="margin:0;">
            <p th:text="'Densidade Populacional: '+ ${location.densidade_populacional}"></p>
        </div>
    </div>

</body>
</html>